In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

In [2]:
import glob
# import json
import pandas as pd
from datetime import datetime

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-09-29 12:31:59--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-09-29 12:31:59 (23.7 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-09-29 12:32:00--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-09-29 12:32:00 (11.2 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-09-29 12:32:01--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-09-29 12:32:01 (4.90 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

In [4]:
df1 = pd.read_json('bank_market_cap_1.json')

# Read data from the second JSON file
df2 = pd.read_json('bank_market_cap_2.json')

# Append the two DataFrames together
combined_cap = df1.append(df2, ignore_index=True)
combined_cap.to_json('final.json')

In [5]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    dataframe.head
    #bn=pd.DataFrame(dataframe.columns.value.tolist())['pound_rate']
   # pd.DataFrame.from_records(bn).head
  #  resp=requests.get(url="file_to_process")
    #dff=pd.json_normalize(dataframe,record_path=['Name'])
    return dataframe

In [6]:
def extract():
    # Write your code here
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*l.json"):
        extracted_data=extract_from_json(jsonfile)
        
    return extracted_data

In [7]:
df=pd.read_csv("exchange_rates.csv")

df.rename( columns={'Unnamed: 0':'Pounds'}, inplace=True )
df1=df.loc[df["Pounds"] == 'GBP']
df1
exchange_rate=float(df1["Rates"].values)
print(exchange_rate)

0.7323984208000001

In [8]:
def transform(data):
    
    data['Market Cap (US$ Billion)']= round(data['Market Cap (US$ Billion)']*exchange_rate,3)
    #print(data['Market Cap (US$ Billion)'])
    data=data.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"},inplace=False)
    return data

In [9]:
targetfile="bank_matket_cap_gbp.csv"
def load(targetfile,datatoload):
    # Write your code here
    datatoload.to_csv(targetfile, index=False)

In [10]:
def log(message):
    # Write your code here
    timestamp_format='%Y-%h-%d-%H%M%S'
    now=datetime.now()
    timestamp=now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp+','+message+'\n')

In [11]:
log("ETL Job Started")

In [12]:
log("Extract Phase Started")
extract_data=extract()
# Print the rows here
extract_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [13]:
log("Extract Phase Ended")

In [14]:
log("Transform Phase Started")

In [15]:
# Call the function here
transformed_data=transform(extract_data)

# Print the first 5 rows here
transformed_data.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [16]:
log("Transform Phase Ended")

In [17]:
log("load Phase Started")

In [18]:
load(targetfile,transformed_data)

In [19]:
log("load Phase Ended")